* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  min-height: 100vh;
  color: #e9e9e9;
  position: relative;
  background-color: #333;
  background-image: url("./images/background.jpg");
  background-blend-mode: overlay;
}

a {
  color: #dadf9f;
  text-decoration: none;
}

a:hover {
  color: white;
}

.separator {
  height: 80px;
  width: 80px;
  margin: 80px auto;
  background-image: url("./images/logo.png");
  background-size: 100%;
  opacity: .3;
}

#description {
  font-size: 1.1rem;
}

.sign {
  text-align: center;
  padding: 20px;
  margin: 0 25px;
}

.header-section {
  width: 100%;
  height: 256px;
  margin: 12px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .header-img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-header {
  font-weight: normal;
  font-style: italic;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.8rem;
  text-align: center;
  color: #c9c9c9;
}

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  color: #c9c9c9;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-bottom: 2px solid white;
  -o-border-image: repeating-linear-gradient(90deg, transparent, #8f936c 40%, #c9c9c9, #8f936c 60%, transparent) 2;
     border-image: repeating-linear-gradient(90deg, transparent, #8f936c 40%, #c9c9c9, #8f936c 60%, transparent) 2;
}

.main-section {
  background: #0008;
  border: 8px solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
  border-top: 0;
  border-bottom: 0;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  padding-bottom: 100px;
}

.nav-buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

.nav-buttons-list .item-nav-button {
  text-align: center;
  text-transform: uppercase;
  color: #c9c9c9;
  font-size: 1.2rem;
  text-shadow: 2px solid black;
  margin: 0;
  padding: 6px 12px;
}

/*------ Album list ------*/
.list-albums {
  padding: 12px 0;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 4px solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
  border-top-width: 17px;
  background: #1c1c17;
}

.list-albums .item-album {
  width: 100%;
  max-width: 256px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #111;
  border: 2px inset #0000;
  border: 4px solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
}

.list-albums .item-album .image-holder {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  width: 100%;
  max-height: 250px;
  aspect-ratio: 1;
}

.list-albums .item-album .album-cover {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  aspect-ratio: 1;
}

.list-albums .item-album .image-overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list-albums .item-album .album-title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
  padding: 4px 6px;
  background: #111;
  border: 0 solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
  border-width: 0 0 4px 0;
  color: #aaad85;
  color: #aaa;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.list-albums .item-album .album-info {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: 0 solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
  border-width: 4px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  height: 100%;
}

.list-albums .item-album .album-link {
  text-transform: uppercase;
  text-align: center;
  padding: 2px 0;
  margin-left: auto;
  margin-right: auto;
  color: #f4f4f4;
  color: #aaad85;
  color: #b3b87a;
  opacity: .8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.list-albums .item-album .album-link:hover {
  color: #f4f4f4;
  border-color: #f4f4f4;
}

.list-albums .item-album .album-link i {
  font-size: 2rem;
}

/*------ Links ------*/
.links-section {
  margin: 0 30px;
  border: 4px solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
  border-top-width: 0;
}

.links-section .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.links-section .link-list .link-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-section .link-list .link-item:nth-child(odd) {
  background: #ffffff28;
}

.links-section .link-list .link-item:nth-child(even) {
  background: #ffffff20;
}

.links-section .link-list .link-item .link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: underline;
  max-width: 100%;
  color: #f4f4f4;
}

.links-section .link-list .link-item .link:hover {
  color: #b3b87a;
}

.links-section .link-list .link-item .description {
  opacity: .8;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/*------ Contact ------*/
.contact-section {
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contact-section .contact-link-list {
  width: 100%;
  padding: 5px 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #222;
  border: 4px solid #000;
  -o-border-image: url("images/border.png") 17 repeat;
     border-image: url("images/border.png") 17 repeat;
  border-image-outset: 0;
  border-image-slice: 17;
  border-top-width: 17px;
  border-bottom-width: 0;
}

.contact-section .contact-link-list .sign {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 16px;
}

.contact-section .contact-link-list .wrap {
  width: 100%;
}

.contact-section .contact-link-list .item-contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-section .contact-link-list .item-contact-link * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-section .contact-link-list .item-contact-link i {
  font-size: 2.5rem;
  padding-right: 8px;
}

.contact-section .contact-link-list .item-contact-link span {
  font-size: 1.2rem;
  color: #c9c9c9;
  word-break: break-all;
}

.contact-section .contact-link-list .item-contact-link[href] {
  color: #b3b87a;
}

.contact-section .contact-link-list .item-contact-link[href]:hover {
  color: #f4f4f4;
}

.listen-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px;
}

.listen-section iframe {
  background: #222;
  width: 600px;
  height: 50px;
  margin: 5px;
  border-bottom: 2px solid white;
  -o-border-image: repeating-linear-gradient(0deg, transparent, #8f936c 40%, #c9c9c9, #8f936c 60%, transparent) 2;
     border-image: repeating-linear-gradient(0deg, transparent, #8f936c 40%, #c9c9c9, #8f936c 60%, transparent) 2;
  border-width: 1px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer a {
  display: inline;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
}

footer i {
  font-weight: bold;
}

footer .footer-logo {
  width: 150px;
  margin: 50px 0;
  opacity: .5;
}

@media only screen and (max-width: 768px) {
  .links-section .link-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 5px !important;
  }
  .links-section .description {
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */